CREATE DATABASE IF NOT EXISTS ${DB_NAME};
CREATE USER '${ROOT_USER}'@'%' IDENTIFIED BY '${ROOT_PASSWORD}';
GRANT ALL PRIVILEGES ON ${DB_NAME}.* TO '${ROOT_USER}'@'%' WITH GRANT OPTION;
FLUSH PRIVILEGES;
